name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-extension:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        
    - name: Install Dependencies
      run: npm ci
      
    - name: Lint
      run: npm run lint
      
    - name: Compile
      run: npm run compile

  build-cli:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
        
    - name: Build CLI
      run: |
        cd cli
        go mod download
        go build -v ./...
        
    - name: Staticcheck
      uses: dominikh/staticcheck-action@v1.3.0
      with:
        version: "latest"
        install-go: false
        working-directory: "cli"
